/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{margin: 0;
padding: 0;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 800
  }

/* common Styles */
.bold {
    font-weight: 700;
}
.dhushor {
    color: #8987A1;
}
.komola {
    color: #E95A08;
}
.dhushor2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

/* Header Styles */
header {
    max-width: 1140px;
    margin: 0 auto;
}
.logo {
    max-width: 135px;
}
nav {
    display: flex;
    justify-content: space-between;
}
.menubar >ul > li {
    list-style-type: none;
    font-size: 1.5em;
}
.menubar > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap:  1rem;
}
.cart {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}
.hero{
    /* height: 461px; */
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: flex-end;
}
.title {
    font-size: 4rem;
}
/* .banner title {
    max-width: 570;


    /* main styles */
.card-section, .plants, .lover, .deals {
    max-width: 1140px;
    margin: 0 auto;
}
.carcar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}
.plants-title {
    text-align: center;
    font-size: 3.125rem;
}
.plants {
    margin-top: 80px;
    text-align: center;
}
.plants > p {
    margin-bottom: 50px;
}
.card img {
    /* height: 30.31rem; */
    padding: auto;
    width: 100%;
}
.card-title1, .card-title {
    font-size: 1.375rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.add-btn {
    background-color: #E95A08;
    border: none;
    width: 100%;
    height: 50px;
    color: white;
    font-weight: 600;
}
/* lover section styles */
.lover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 210px;
    flex: 1;
}
.lover-title {
    font-size: 3.125rem;
    padding-left: auto;
    margin-left: 20px;
}
.lover-text
{
    padding-left: 25px;
    margin-left: 15px;
}
.lover img {
    width: 100%;
}
.font-weight {
    font-weight: 400;
}
/* deals style */
.deals p {
    text-align: center;
}
.main-deal {
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.p3 {
    justify-content: center;
}
.p1 img {
    border-radius: 15px;
}
.p2 img {
    border-radius: 15px;
}
.p3 img {
    border-radius: 15px;
}
.pcom {
    margin-right: 5px;
}
/* .p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
.main-deal {
    display: grid;
    grid-template-areas:
     "p1    p1    p3   p3   p3"
     "p1    p1    p3   p3   p3"
     "p2    P2    P3   P3   P3"
     "P2    P2    P3   P3   P3";
} */
/* join styles */
.join {
    height: 533px;
    background-image: url(B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.joinbar{
    width: 830px;
}
.inpt {
    width: 646px;
    height: 50px;
    margin-right: 0px;
}
.sub-btn {
    background-color: #E95A08;
    color: white;
    border: none;
    width: 186px;
    height: 50px;
    margin-left: 0px;
}
.joint-parent {
    display: flex;
    max-width: 830px;
    height: 50px;
    gap: 0;
}
.join-title {
    color: white;
    font-size: 3.125rem;
    margin-left: 122px;
    margin-bottom: 23px;
}
/* footer */
footer {
    max-width: 1140px;
    margin: 0 auto;
}
.ending {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}
.logoft{
    text-align: left;
}
.features >ul > li {
    list-style-type: none;
    display: block;
    margin-bottom: 19px; }
.home ul li {
    list-style-type: none;
    display: block;
    margin-bottom: 19px;
}
.home, .features {

}
.fb > img {
    margin: 0 10px;
}
/* Responsive for iphone 11 */
@media screen and (max-width: 576px){
    .about, .home, .shop {
        display: none;
    }
    .cart {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        grid-template-columns: 0px 0px 0px 60px;
        grid-column-start: 4;
    }
    header {
        width: 100%;
    }
    main {
        width: 100%;
    }
    /* .card-section {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
            justify-items: center;
    } */
    .carcar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        flex: 1;
    }
    .banner-title {
        flex-direction: column;
        text-align: left;
    }
    .hero {
        flex-direction: column-reverse;
    }
    .lover {
        display: flex;
        flex-direction: column;
    }
    .loverimg{
        width: 100%;
    }
    .lover-text ul {
        text-align: left;
    }
    .main-deal {
        display: flex;
        flex-direction: column;
    
    }
    .join-title {
        font-size: 20px;
        width: 321px;
        height: 27px;

    }
    .inpt {
        width: 60%;
        height: 50px;
        margin-left: 5px;
    }
    .sub-btn {
        border: none;
        width: 30%;
        height: 50px;
    }
    .join-parennt {
        display: flex;
        justify-content: center;
        align-items: center;
        /* max-width: 321px; */
        /* height: 50px; */
        gap: 0;

    }
    .join {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer {
    }
    .ending {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .fb img {
        width: 17%;
    }
}