/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 800
  }

/* common Styles */
.bold {
    font-weight: 700;
}
.dhushor {
    color: #8987A1;
}
.komola {
    color: #E95A08;
}
.dhushor2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

/* Header Styles */
header {
    max-width: 1140px;
    margin: 0 auto;
}
.logo {
    max-width: 135px;
}
nav {
    display: flex;
    justify-content: space-between;
}
.menubar >ul > li {
    list-style-type: none;
}
.menubar > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap:  20px;
}
.hero{
    height: 461px;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: flex-end;
}
.title {
    font-size: 4rem;
}
/* .banner title {
    max-width: 570;


    /* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}
.card-section {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 20px;
}
.plants-title {
    text-align: center;
    font-size: 3.125rem;
}
.plants {
    text-align: center;
}
.plants > p {
    margin-bottom: 50px;
}
.card {
    height: 30.31rem;
    padding: auto;
}
.card-title1, .card-title {
    font-size: 1.375rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.add-btn {
    background-color: #E95A08;
    border: none;
    width: 100%;
    height: 50px;
    color: white;
    font-weight: 600;
}
/* lover section styles */
.lover {
    display: flex;
    margin-top: 210px;
}
.lover-title {
    font-size: 3.125rem;
    padding-left: auto;
    margin-left: 20px;
}
.font-weight {
    font-weight: 400;
}
/* join styles */
.join {
    height: 533px;
    background-image: url(B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.joinbar{
    width: 830px;
}
.inpt {
    width: 646px;
    height: 50px;
    margin-right: 0px;
}
.sub-btn {
    background-color: #E95A08;
    color: white;
    border: none;
    width: 186px;
    height: 50px;
    margin-left: 0;
}
.joint-parent {
    display: flex;
    max-width: 830px;
    height: 50px;
}
.join-title {
    color: white;
    font-size: 3.125rem;
    margin-left: 122px;
    margin-bottom: 23px;
}
/* Responsive for iphone 11 */
@media screen and (max-width: 576px){
    .home, .about, .shop {
        display: none;
    }
    .cart {
        grid-column-start: 4;
    }
    header {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .card-section {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
            justify-items: center;
    }
    .banner-title {
        flex-direction: column;
        text-align: center;
    }
    .hero {

        flex-direction: column-reverse;
    }
}